/* html{
    width: 100%;
    height: 200%;
    max-height: 300%;
} */
#header{
    display: flex;
    height: 10vh;
    background-color: aquamarine;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}
body{
    margin: 0;
    width: 100%;
}
.icon{
    flex-grow: 1;
    height: 100%;
}
.icon img{
    height: 100%;
    margin-left: 1vmin;
}
.index{
    flex-grow: 4;
    font-size: 5vmin;
}

#purchase{
    width: 100%;
    height: 200vh;
    display: grid;
    grid-template-columns: [column_1] 1fr [column_2] 10fr [column_3] 1fr [column_4];
    grid-template-rows: [row_1] 1fr [row_2] 5fr [row_3] 30vh [row_4];
    /* justify-content: center;
    align-items: center; */
    /*background-color: red;*/
}
#form_title{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    font-size: 10vmin;
}
form{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3; 
    display: grid;
    /*background-color: red;*/
    width: 100%;
    grid-template-columns: [column_1] 1fr [column_2] 1fr [column_3];
    grid-template-rows: [row_1] 2fr [row_2] 1fr [row_3] 1fr [row_4] 1fr [row_5] 1fr [row_6] 1fr [row_7] 1fr [row_8] 1fr [row_9] 1fr [row_10] 1fr [row_11];
}
#email{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: [column_1] 1fr [column_2] 1fr [column_3];
    grid-template-rows: [row_1] 1fr [row_2];
    justify-items: center;
    align-items: center;
}
#email_label{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: start;
    font-size: 2.5vmin;
}
#email_input{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: stretch;
    font-size: 2.5vmin;
}
#name{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: [column_1] 1fr [column_2] 1fr [column_3];
    grid-template-rows: [row_1] 1fr [row_2];
    justify-content: center;
    align-items: center;
}
#name_label{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: start;
    font-size: 2.5vmin;
}
#name_input{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: stretch;
    font-size: 2.5vmin;
}
#contact{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: [column_1] 1fr [column_2] 1fr [column_3];
    grid-template-rows: [row_1] 1fr [row_2];
    justify-content: center;
    align-items: center;
}
#contact_label{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: start;
    font-size: 2.5vmin;
}
#contact_input{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: stretch;
    font-size: 2.5vmin;
}
#address{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    display: grid;
    grid-template-columns: [column_1] 1fr [column_2] 1fr [column_3];
    grid-template-rows: [row_1] 1fr [row_2];
    justify-items: center;
    align-items: center;
}
#address_label{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: start;
    font-size: 2.5vmin;
}
#address_input{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: stretch;
    font-size: 2.5vmin;
}
#H1{
    /*background-color: green;*/
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: [column_1] 1fr [column_2] 1fr [column_3];
    grid-template-rows: [row_1] 50px [row_2];
    justify-items: center;
    align-items: center;
    margin-left: 10px;
}
#H1_label{
    /*background-color: red;*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    justify-self: start;
    font-size: 2.5vmin;
}
#H1_select{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: stretch;
    font-size: 2.5vmin;
}
#H2{
    /*background-color: green;*/
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: [column_1] 1fr [column_2] 1fr [column_3];
    grid-template-rows: [row_1] 50px [row_2];
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
#H2_label{
    /*background-color: red;*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    justify-self: start;
    font-size: 2.5vmin;
}
#H2_select{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: stretch;
    font-size: 2.5vmin;
}
/*#form_line_1{
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: center;
    align-items: center;
}*/
#H3{
    /*background-color: green;*/
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: [column_1] 1fr [column_2] 1fr [column_3];
    grid-template-rows: [row_1] 50px [row_2];
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
#H3_label{
    /*background-color: red;*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    justify-self: start;
    font-size: 2.5vmin;
}
#H3_select{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: stretch;
    font-size: 2.5vmin;
}
#H4{
    /*background-color: green;*/
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    display: grid;
    grid-template-columns: [column_1] 1fr [column_2] 1fr [column_3];
    grid-template-rows: [row_1] 50px [row_2];
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
#H4_label{
    /*background-color: red;*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    justify-self: start;
    font-size: 2.5vmin;
}
#H4_select{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: stretch;
    font-size: 2.5vmin;
}
#H5{
    /*background-color: green;*/
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    display: grid;
    grid-template-columns: [column_1] 1fr [column_2] 1fr [column_3];
    grid-template-rows: [row_1] 50px [row_2];
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
#H5_label{
    /*background-color: red;*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    justify-self: start;
    font-size: 2.5vmin;
}
#H5_select{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: stretch;
    font-size: 2.5vmin;
}
#H6{
    /*background-color: green;*/
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
    display: grid;
    grid-template-columns: [column_1] 1fr [column_2] 1fr [column_3];
    grid-template-rows: [row_1] 50px [row_2];
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
#H6_label{
    /*background-color: red;*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    justify-self: start;
    font-size: 2.5vmin;
}
#H6_select{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: stretch;
    font-size: 2.5vmin;
}
#H7{
    /*background-color: green;*/
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
    display: grid;
    grid-template-columns: [column_1] 1fr [column_2] 1fr [column_3];
    grid-template-rows: [row_1] 50px [row_2];
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
#H7_label{
    /*background-color: red;*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    justify-self: start;
    font-size: 2.5vmin;
}
#H7_select{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: stretch;
    font-size: 2.5vmin;
}
#total{
    /*background-color: green;*/
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 10;
    display: grid;
    grid-template-columns: [column_1] 1fr [column_2] 1fr [column_3] 1fr [column_4] 1fr [column_5];
    grid-template-rows: [row_1] 50px [row_2];
    justify-items: center;
    align-items: center;
}
#total_label{
    /*background-color: red;*/
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    justify-self: center;
    font-size: 2.5vmin;
}
#total_input{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: stretch;
    font-size: 2.5vmin;
}
#submit{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 10;
    grid-row-end: 11;
    justify-content: center;
    align-items: center;
}
#submit_button{
    border-radius: 10px;
    background-color: gray;
    font-size: 2.5vmin;
}
.gap_50{
    width: 50px;
}
.bottom{
    display: grid;
    grid-template-columns: [column_1] 1fr [column_2] 8fr [column_3];
    grid-template-rows: [row_1] 1fr [row_2] 5fr [row_3];
    width: 100%;
    /* height: 100%; */
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: gray;
}
#bottom_about{
    color: lightblue;
    margin-top: 1vmin;
    margin-left: 1vmin;
    font-size: 5vmin;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
#bottom_content{
    color: blue;
    font-size: 2.5vmin;
    margin-top: 1vmin;
    margin-left: 1vmin;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#gfa_logo{
    color: blue;
    margin-top: 2vmin;
    margin-left: 2vmin;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: white;
}